.image-container {
  position: relative;
}

.text-box {
  width: 550px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff7e;
}

.text-box button {
  width: 212px;
  height: 40px;
  background-color: #303132;
  color: #fff;
  border: none;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: #000;
  }
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media all and (min-width: 37.5em) {
  .card-item {
    width: calc(50% - 10px);
  }
}

@media all and (min-width: 56.25em) {
  .card-item {
    width: calc(33.3333% - 10px);
  }
}

.card-body {
  width: 100%;
  background: #e7e3e0;
}
